$color-base: rgb(224, 226, 230)


.pl-3
  padding-left: 1rem
  padding-top: 1rem

.mat-form-field 
  width: 100%

.create
  background-color: $color-base
  color: #414c5f !important

.full-width
  width: 100%

.tittle
  font-family: sans-serif !important
  font-weight: 700 !important

.subTittle
  font-family: none !important

.header
  padding-left:1rem
  padding-top:1rem