<div class="header">
  <div>
    <a>Módulo de Administración</a>
    <h5 class="tittle">Administración de usuarios</h5>
  </div>
   
  
    <div class="row col-12">
      <div class="col-3 mt-2">
        <div class="d-flex justify-content-start actions gap-1">
          <mat-form-field  appearance="fill" class="full-width">
            <mat-label>Seleccione un Departamento</mat-label>
            <mat-select  >
              <mat-option (onSelectionChange)="getDepartmento($event)" [value]="null"></mat-option>
              <mat-option (onSelectionChange)="getDepartmento($event)" *ngFor="let departamento of departamentos" [value]="departamento.id">
                {{ departamento.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
  
      <div class="col-3 mt-2">
          <div class="d-flex justify-content-start actions gap-1">
            <mat-form-field class="full-width">
              <mat-label>Seleccione un Cargo</mat-label>
              <mat-select>
                <mat-option (onSelectionChange)="getCargo($event)" [value]="null"></mat-option>
                <mat-option (onSelectionChange)="getCargo($event)"  *ngFor="let cargo of cargos" [value]="cargo.id">
                  {{ cargo.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
    
      </div>

      <div class="col-6 mt-4">
        <div class="d-flex justify-content-end actions gap-1 ">
            <button (click)="create()" mat-stroked-button  class="h-450 create" ><div class="p-2">Crear nuevo usuario</div></button>
        </div>
      </div>
      
    </div>
  
  
  </div>
  