.loading-container
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgb(0 0 0 / 26%)

  /* Fondo oscuro y semitransparente
  z-index: 9999

  /* Asegura que esté sobre la tabla u otros elementos
  display: flex
  align-items: center
  justify-content: center