<app-spinner [visible]="loading"></app-spinner>
<div class="col-12 dialog">
  <form [formGroup]="formAdministrador">
    <div class="p-4">
      <h5 >{{titulo}}</h5>
    </div>
    <mat-divider></mat-divider>
    <button  mat-icon-button mat-dialog-close class="close-button">
      <mat-icon aria-label="Cerrar">close</mat-icon>
    </button>
    <mat-dialog-content>
      <div class="row m-2">
        <div class="col-md-6 col-lg-6 ">
          <mat-label>Departamento:</mat-label>
            <mat-form-field class="full-width">
              <mat-label >Seleccione un Departamento</mat-label>
              <mat-select class="" formControlName="idDepartamento">
                <mat-option *ngFor="let departamento of departamentos" [value]="departamento.id">
                  {{ departamento.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>

        <div class="col-md-6 col-lg-6 ">
          <mat-label>Cargo:</mat-label>
          <mat-form-field class="full-width">
            <mat-label>Seleccione un perfil</mat-label>
            <mat-select formControlName="idCargo">
              <mat-option *ngFor="let cargo of cargos" [value]="cargo.id">
                {{ cargo.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6 col-lg-6 my-2">
          <mat-label>Usuario:</mat-label>
          <input 
          class="form-control" 
          type="text"     
          formControlName="usuario" 
          aria-label="default input example"
          >
        </div>

        <div class="col-md-6 col-lg-6 my-2">
          <mat-label>Email:</mat-label>
          <input 
          class="form-control" 
          type="text"     
          formControlName="email" 
          aria-label="default input example"
          >
        </div>


          <div class="col-md-6 col-lg-6 my-4">
            <mat-label>Primer Nombre:</mat-label>
            <input 
            class="form-control" 
            type="text"     
            formControlName="primerNombre" 
            aria-label="default input example"
            >
          </div>
          <div class="col-md-6 col-lg-6 my-4">
            <mat-label>Segundo Nombre:</mat-label>
            <input 
            class="form-control" 
            type="text"     
            formControlName="segundoNombre" 
            aria-label="default input example"
            >
          </div>
          <div class="col-md-6 col-lg-6 my-3">
            <mat-label>Primer Apellido:</mat-label>
            <input 
            class="form-control" 
            type="text"     
            formControlName="primerApellido" 
            aria-label="default input example"
            >
          </div>
          <div class="col-md-6 col-lg-6 my-3">
            <mat-label>Segundo Apellido:</mat-label>
            <input 
            class="form-control" 
            type="text"     
            formControlName="segundoApellido" 
            aria-label="default input example"
            >
          </div>
      </div>
    </mat-dialog-content>
    <mat-divider></mat-divider>
    <mat-dialog-actions align="end">
      <div class="justify-content-end actions gap-1">
        <div class="p-2">
          <button [disabled]="!formAdministrador.valid" *ngIf="data.data" mat-flat-button color="primary" (click)="update()" textContent="asd">Actualizar</button>
          <button [disabled]="!formAdministrador.valid" *ngIf="!data.data" mat-flat-button color="primary" (click)="create()" textContent="asd">Registrar</button>
          <button (click)="close()" mat-raised-button>Cancelar</button>   
        </div>

      </div>
    </mat-dialog-actions>

</form>
</div>
