/* admdialog.component.css
$font-size-base: 12px

h2.mat-dialog-title
  flex-grow: 1
  text-align: center

button.close-button
  position: absolute
  top: 0
  right: 0
  margin: 8px
  border: none !important
 

.full-width
  width: 100%

.dialog
  background-color: rgb(243, 244, 246)

mat-label
  font-size: $font-size-base !important
  font-weight: bold


