<div class="p-1">
    <div>
        <app-adm-header (reqUserFilter)="getFilterUserRequest($event)" (updateListEmitter)="verifyIsUpdateListEmitter($event)" ></app-adm-header>
    </div>
    <mat-divider></mat-divider>

    
    <div class="p-3">   
        <mat-card>
            <div class="m-4">
                <app-adm-list [userFilterReq]="userFilterReq" [actualizarList]="actualizarList"></app-adm-list>
            </div>
        </mat-card>

    </div>

    <mat-divider></mat-divider>

</div>

