<app-spinner [visible]="loading"></app-spinner>
<table mat-table [dataSource]="dataSource" style="border: solid rgba(92, 69, 81, 0.04) !important" matRowHover>
  <!-- Name Column -->
  <ng-container matColumnDef="usuario">
    <th mat-header-cell *matHeaderCellDef> Usuario </th>
    <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
    <td mat-footer-cell *matFooterCellDef><strong>Total Registros: {{dataSource.length}}</strong>   </td>
  </ng-container>

  <!-- primerNombre Column -->
  <ng-container matColumnDef="nombres">
    <th mat-header-cell *matHeaderCellDef>Nombres</th>
    <td mat-cell *matCellDef="let element"> {{element.primerNombre + ' ' + element.segundoNombre}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>


  <ng-container matColumnDef="apellidos">
    <th mat-header-cell *matHeaderCellDef> Apellidos </th>
    <td mat-cell *matCellDef="let element"> {{element.primerApellido + ' ' + element.segundoApellido}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>


  <ng-container matColumnDef="departamento">
    <th mat-header-cell *matHeaderCellDef> Departamento </th>
    <td mat-cell *matCellDef="let element"> {{element.nombreDepartamento}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="cargo">
    <th mat-header-cell *matHeaderCellDef> Cargo </th>
    <td mat-cell *matCellDef="let element"> {{element.nombreCargo}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  


  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element" class="acciones">
      <!-- Agrega dos botones al lado del otro -->
      <div class="d-flex">
        <div>
          <button class="custom-green-button" mat-button (click)="edit(element)">
              <div class="d-flex">
                <span class="material-symbols-outlined m-0">
                  edit_square
                </span>
                <div>
                  Editar
                </div>
              
              </div>
          </button>
        </div>

        <div>
          <button class="hover-delete" color="warn" mat-button (click)="openModalConfirmation(element.id,'0ms', '0ms')">
            <div class="d-flex">
              <span class="material-symbols-outlined">
                delete
              </span>
              <div>
                Eliminar
              </div>
            </div>
          </button>
        </div>
      </div>
      
    
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>


  <tr  mat-header-row *matHeaderRowDef="displayedColumns" class=""></tr>
  <tr class="element-row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row class="custom-footer" *matFooterRowDef="displayedColumns"></tr>
</table>