.acciones .custom-green-button
  // Verde
  color: #4caf50

.custom-green-button:hover
  background-color: rgb(196, 245, 216)
  border: 1px solid !important

.material-symbols-outlined
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24

.hover-delete:hover
  background-color: rgb(245, 221, 223)
  border: 1px solid !important