<div class="font" mat-dialog-content>
    ¿Está seguro de eliminar el usuario seleccionado?
</div>
<div mat-dialog-actions class="justify-content-end actions gap-1">
  <button mat-button mat-dialog-close cdkFocusInitial  mat-flat-button color="primary" (click)="delete()" >Aceptar</button>
  <button mat-button mat-dialog-close>Cancelar</button>
</div>