
  // Custom Theming for Angular Material
  // For more information: https://material.angular.io/guide/theming
  @use '@angular/material' as mat;
  // Plus imports for other components in your app.

  // Include the common styles for Angular Material. We include this here so that you only
  // have to load a single css file for Angular Material in your app.
  // Be sure that you only ever include this mixin once!
  @include mat.core();

  // Define the palettes for your theme using the Material Design palettes available in palette.scss
  // (imported above). For each palette, you can optionally specify a default, lighter, and darker
  // hue. Available color palettes: https://material.io/design/color/
  $app-frontend-primary: mat.define-palette(mat.$indigo-palette);
  $app-frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

  // The warn palette is optional (defaults to red).
  $app-frontend-warn: mat.define-palette(mat.$red-palette);

  // Create the theme object. A theme consists of configurations for individual
  // theming systems such as "color" or "typography".
  $app-frontend-theme: mat.define-light-theme((
    color: (
      primary: $app-frontend-primary,
      accent: $app-frontend-accent,
      warn: $app-frontend-warn,
    )
  ));




  // Variable overrides first
  $primary: rgb(59, 36, 36);
  $enable-shadows: true;
  $prefix: "mo-";

  // Then import Bootstrap
  @import "../node_modules/bootstrap/scss/bootstrap";


  // Include theme styles for core and each component used in your app.
  // Alternatively, you can import and @include the theme mixins for each component
  // that you are using.
  @include mat.all-component-themes($app-frontend-theme);


  html, body { height: 100%;}
  body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
