/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200')

$color-base: #3366cc
$color-save-update: rgb(0, 106, 178)
$hover-color: rgba(31, 53, 177, 0.05)
$background-color: rgb(248, 249, 250)
$font-size-base: 13px



// Agrega tu estilo global para el color de texto
body
  color: darken($color-base, 20%)
  background-color: $background-color !important
  font-size: $font-size-base

// Estilos generales para las tablas
table
  color: darken($color-base, 20%)
  font-size: $font-size-base !important

// Estilos generales para las celdas
td
  color: darken($color-base, 20%)
  text-align: center !important
  font-size: $font-size-base !important

// Estilos generales para botones
button
  color: darken($color-base, 20%)

// Estilos específicos para los encabezados de tabla (th) en negrita
th
  font-weight: bold
  color: darken($color-base, 30%)
  text-align: center !important
  font-size: $font-size-base !important

mat-optiom
  color: darken($color-base, 20%)

mat-label 
  color: darken($color-base, 30%)
  font-weight: 575

mat-flat-button
  color: $color-save-update !important

// Estilos de sombreado al pasar el cursor sobre registros de la tabla, superponiendo la clase proporcionada por Angular Material
.mat-table .mat-row:hover,
.element-row:hover
  background-color: $hover-color
  font-weight: bold 


.custom-footer
  background-color: $background-color !important

// Estilos de sombreado al pasar el cursor sobre botones
button:hover
  background-color: $hover-color

.color-labels
  color: darken($color-base, 30%)

h1 
  font-size: $font-size-base * 1.5


p 
  font-size: $font-size-base



.mdc-text-field--filled:not(.mdc-text-field--disabled)
  background-color: #e0e7eb !important

.mat-mdc-form-field-focus-overlay
  background-color: transparent !important